<div class="my-4">
  <h2 class="text-center">真のナポリピッツァ協会</h2>
  <h2 class="text-center">認定店一覧</h2>
</div>

<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">店舗名</th>
      <th scope="col">住所</th>
    </tr>
  </thead>
  <tbody>
  <% @shops.each do |shop| %>
    <tr>
      <td scope="row"><%= link_to shop.name, shop_path(shop) %></td>
      <td><%= shop.address %></td>
    </tr>
  <% end %>
  </tbody>
</table>
