<div class="container pt-3">
  <div class="row">
    <h2 class="mb-5">認定店一覧</h2>
    <div>
      <%= render 'shared/search_form', url: shops_path %>
    </div>

      <div class='table-responsive'>
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">店舗名</th>
              <th scope="col">住所</th>
            </tr>
          </thead>
          <tbody>
          <% if @shops.present? %>
            <% @shops.each do |shop| %>
              <tr>
                <td scope="row"><%= link_to shop.name, shop_path(shop), 'data-turbolinks': false %></td>
                <td><%= shop.address %></td>
              </tr>
            <% end %>
          <% else %>
            <h3>検索した都道府県に認定店がありません</h3>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
