<header>
  <nav class='navbar navbar-expand-md top-logo nav-menu'>
    <div class="container">
      <%= link_to "真のナポリピッツァ部", root_path, class: 'navbar-brand text-white header-font', 'data-turbolinks': false %>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item d-md-flex">
            <%= link_to "認定店一覧", shops_path, class: 'ml-2 mt-1 text-white  header-font nav-link', 'data-turbolinks': false %>
            <%= link_to "新規登録", new_user_path, class: 'ml-2 mt-1 text-white  header-font nav-link', 'data-turbolinks': false %>
            <%= link_to "ログイン", login_path, class: 'ml-2 mt-1 text-white  header-font nav-link', 'data-turbolinks': false %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
