<footer id='footer' class="footer-bottom bg-dark">
  <div class='container text-white text-center pt-2'>
    <div class='row'>
       <%= link_to "https://twitter.com/share?url=#{request.url}&text=%23真のナポリピッツァ部%20は真のナポリピッツァ協会認定店を簡単に探せるサービスです。%0aお気に入りの%20%23真のナポリピッツァ協会認定店%20を共有しよう。%0a&hashtags=真のナポリピッツァ協会", title: 'Twitter', target: '_blank', class: 'text-white p-2 col-sm' do %>
        <i class="fab fa-twitter"></i>
      <% end %>
      <%= link_to 'プライバシーポリシー', privacy_path, class: 'text-white p-2 col-sm' %>
      <%= link_to '利用規約', terms_path, class: 'text-white p-2 col-sm' %>
      <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLScFAFOkoHimw2hOpkOtW85zhzpXPaq_HK9buqYlkO0pzY-4kw/viewform?usp=sf_link', class: 'text-white p-2 col-sm' %>
    </div>
  </div>

    <div class='row'>
      <div class='text-white text-center col-12 pt-2'>
        <p>Copyright © 2022. 真のナポリピッツァ部</p>
      </div>

    </div>
  </div>
</footer>
