<footer id='footer' class="footer-bottom bg-dark">
  <div class='container text-white text-center pt-3'>
    <div class='row'>
      <%= link_to 'Twitter', '#', class: 'text-white p-2 col-sm' %>
      <%= link_to 'フィードバック', '#', class: 'text-white p-2 col-sm' %>
      <%= link_to 'プライバシーポリシー', '#', class: 'text-white p-2 col-sm' %>
      <%= link_to '利用規約', '#', class: 'text-white p-2 col-sm' %>
    </div>
  </div>

    <div class='row'>
      <div class='text-white text-center col-12 pt-3'>
        <p>Copyright © 2022. 真のナポリピッツァ部</p>
      </div>

    </div>
  </div>
</footer>
