<footer id='footer' class="footer-bottom bg-dark">
  <div class="container">
    <div class="row">
      <div class=" col-sm-6 col-12 mt-4 text-white">
          <p class='small'>Copyright © 2022. 真のナポリピッツァ部</p>
      </div>
    </div>
  </div>
</footer>
