<footer id='footer' class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="text-center col-sm-6 col-12 mt-4">
          <p>Copyright © 2021. 真のナポリピッツァ部</p>
      </div>
    </div>
  </div>
</footer>
