<header>
  <nav class='navbar navbar-expand-lg bg-dark top-logo nav-menu'>
    <%= link_to "真のナポリピッツァ部", root_path, class: 'navbar-brand text-white', 'data-turbolinks': false %>
    <%= link_to "認定店一覧", shops_path, class: 'navbar-brand ml-auto text-white font-weight-light', 'data-turbolinks': false %>
  </nav>
</header>
