<div class='top-wrapper'>
  <div class='container px-4 px-lg-5 d-flex h-50 align-items-center justify-content-center'>
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h2 class='text-white mx-auto mt-2'>「真のナポリピッツァ協会」認定店に</h1>
        <h2 class='text-white mx-auto mb-5'>ナポリピッツァを食べに行こう</h2>
        <button class='btn btn-primary'>現在地から探す</button>
      </div>
    </div>
  </div>
</div>

<div class='jumbotron text-center mb-0'>
  <h4 class='text-center font-weight-bold pt-2'>「真のナポリピッツァ部」はGoogleマップ上から真のナポリピッツァ協会認定店を簡単に探せるサービスです。</h4>
</div>
<div id='map'></div>

<div class='container'>
  <div class='jumbotron text-center'>
    <h4 class='text-center pb-4'>真のナポリピッツァ協会とは</h4>
    <p class='pb-3'>真のナポリピッツァ協会(イタリア語：Associazione Verace Pizza Napoletana、通称AVPN)は営利団体としてナポリで1984年6月に創立されました。</p>

    <h4 class='text-center pb-4'>真のナポリピッツァ協会の目的</h4>
    <p class='pb-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h4 class='text-center pb-4'>ナポリピッツァってなに？？</h4>
    <p class='pb-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
