@import 'prefectures';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

#body {
  background-color: #F3F3F3;
}

// レスポンシブ対応
@media (max-width: 768px) {
  header {
    .nav-menu {
      font-size: 0.7rem;
    }
  }

  .top-text {
    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      font-size: 1.1rem;
    }
  }
}

header {
  background: none;
}

.wrap {
  overflow: hidden;
}

a.header-font {
   font-family: 'Noto Sans JP',
   sans-serif;
   font-weight: bold;
}
