.top-wrapper {
  background-image: image-url("top-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 74px);
  position: relative;
  background-position: center;

   @media screen and (max-width: 767px) {
      height: calc(78vh);
    }


  .top-inner-text {
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: right;
    font-size: 3rem;
    color: white;

    @media screen and (max-width: 540px) {
      font-size: 2.0rem;
      top: 30%;
      left: 50%;
      text-align: center;
    }
  }
}

img.top-image {
  @media screen and (max-width: 1194px) {
    width: 160px;
    height: 160px;
    }
}
// button {
//   position: absolute;
//   top: 90%;
//   left: 65%;

//   @media screen and (max-width: 540px) {
//       font-size: 0.7rem;
//       position: absolute;
//       top: 40%;
//       left: 30%;
//     }
// }

.top-button {
  position: absolute;
  top: 87%;
  left: 65%;

  @media screen and (max-width: 540px) {
      font-size: 0.7rem;
      position: absolute;
      top: 40%;
      left: 30%;
    }
}


/* Set the size of the div element that contains the map */
#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  border-radius: 8px;
}
